PROJECT_NAME="Shop Meraj"
ENVIRONMENT=local
FRONTEND_HOST=http://localhost:5173
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173"

SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=shop_meraj
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

SENTRY_DSN=

MEDIA_ROOT=media
MEDIA_URL=/media

TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_CHAT_ID=
